.cuerpoContacto {
  background-color: rgb(3, 25, 36);
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cuerpoContacto label {
  text-align: center;
  font-size: 20px;
}