.cuerpoBD {
  display: flex;
  flex-wrap: wrap;
}

.contFormBD {
  margin: 50px 0px 50px 0px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tituloFormBD {
  text-align: center;
}
.estiloFormBD {
  padding: 10px 10px 10px 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient( 180deg, rgb(0, 160, 172) 20%, rgb(0, 38, 49) 70%);
  box-sizing: border-box;
  border: 5px solid aqua;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.formBD {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  justify-content: center;
}
.miniContFormBD {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.textareaFormBD {
  height: 100px;
  width: 600px;
  padding: 3px 6px 3px 6px;
  color: rgb(141, 255, 255);
  background-color: rgb(0, 19, 27);
  border: 3px solid rgb(141, 255, 255);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  resize: none;
}

.contBasesDeDatos {
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(90deg, red 10%, aqua 90%);
}
