.contenedorDivs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.quienSoyCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textoSeparado {
  /*GROSOR DEL TEXTO*/
  font-weight: 300;
  /*SEPARACION ENTRE LINEAS*/
  line-height: 3.5rem;
}

.contenedorHabilidades{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedorImagenesHab {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 160, 160);
  border: 5px double red;
}
.logoBootstrap {
  padding: 10px 10px 10px 10px;
  width: 25%;
}
.logoHTML{
  width: 25%;
}
.logoJS {
  width: 25%;
}
.logoCSS {
  width: 25%;
}

.logoReact {
  width: 30%;
}
.logoC {
  width: 35%;
  background-color: rgb(77, 77, 77);
}
.logoJava {
  width: 35%;
  background-color: rgb(77, 77, 77);
}

.gifRandom {
  width: 100%;
}

.contenedorProtectos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedorImagenesProy {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(0, 36, 36);
  border: 10px double red;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.dividirPartesIguales {
  margin: 10px 10px;
  flex: 1 1 ;
  color: rgb(0, 19, 27);
}
.proyectoActivado {
  color: rgb(141, 255, 255);
  background-color: rgb(0, 17, 17);
  border: 5px solid rgb(1, 255, 255);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.proyectoActivado:hover {
  color: rgb(77, 177, 177);
  background-color: rgb(1, 29, 29);
  border: 5px solid rgb(0, 126, 126);
}
.proyectoDesactivado {
  color: rgb(141, 255, 255);
  background-color: rgb(0, 17, 17);
  border: 5px solid rgb(1, 255, 255);
  border-radius: 10px;
  opacity: 30%;
}

.contenedorHerramientas{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedorImagenesHerr {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 160, 160);
  border: 5px double red;
}
.logoVisualCode {
  width: 30%;
  padding: 8px;
  margin: 0px 5px 0px 5px;
}
.logoGitHub {
  width: 32%;
  padding: 6px;
}
.logoGitHubDesk {
  width: 32%;
}

.logoAndroidStudio {
  width: 50%;
  padding: 6px;
  background-color: rgb(77, 77, 77);
}
.logoUnity {
  width: 50%;
  padding: 6px;
  background-color: rgb(77, 77, 77);
}