.contenedorDivs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.quienSoyCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textoSeparado {
  /*GROSOR DEL TEXTO*/
  font-weight: 300;
  /*SEPARACION ENTRE LINEAS*/
  line-height: 3.5rem;
}

/* HABILIDADES HABILIDADES HABILIDADES HABILIDADES HABILIDADES HABILIDADES HABILIDADES HABILIDADES HABILIDADES HABILIDADES */

.contenedorHabilidades{
  margin: 0px 0px 40px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedorImagenesHab {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(90deg, #5cd7ab 44%, #1f7fff 90%);
  border: 5px double red;
  border-top-left-radius: 40px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 40px;
}
.logoBootstrap {
  padding: 10px 10px 10px 10px;
  width: 20%;
}
.logoHTML{
  width: 20%;
}
.logoJS {
  width: 20%;
}
.logoCSS {
  width: 20%;
}
.logoReact {
  width: 20%;
  border-bottom-right-radius: 34px;
}
/* PROYECTOS PROYECTOS PROYECTOS PROYECTOS PROYECTOS PROYECTOS PROYECTOS PROYECTOS PROYECTOS PROYECTOS PROYECTOS */

.campoProyectos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenedorProtectos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contenedorImagenesProy {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(3, 26, 26);
  border: 10px double red;
  border-top-left-radius: 40px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 40px;
}
.dividirPartesIguales {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 19, 27);
}
.proyectoActivado {
  color: rgb(141, 255, 255);
  background-color: rgb(1, 9, 20);
  border: 5px solid rgb(1, 255, 255);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.proyectoActivado label {
  cursor: pointer;
}
.proyectoActivado:hover {
  opacity: 50%;
}
.proyectoDesactivado {
  color: rgb(141, 255, 255);
  border: 5px solid rgb(1, 255, 255);
  border-radius: 10px;
  opacity: 30%;
  cursor: default;
  pointer-events: none;
}
.miniContP {
  display: flex;
  justify-content: center;
  align-items: center;
}
.miniContPImg {
  margin: 0px 10px 0px 0px;
}

.proyectoN1 {
  height: 280px;
  width: 100% ;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.proyectoN2 {
  height: 280px;
  width: 100% ;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.proyectoN3 {
  height: 280px;
  width: 100% ;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.proyectoN4 {
  height: 280px;
  width: 100% ;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.proyectoN5 {
  height: 280px;
  width: 100% ;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.proyectoN6 {
  height: 280px;
  width: 100% ;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.imgLogoProy {
  height: 40px;
  width: 40px;
}

/* HERRAMIENTAS HERRAMIENTAS HERRAMIENTAS HERRAMIENTAS HERRAMIENTAS HERRAMIENTAS HERRAMIENTAS HERRAMIENTAS */

.contenedorHerramientas{
  margin: 0px 0px 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedorImagenesHerr {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(90deg, #5cd7ab 44%, #1f7fff 90%);
  border: 5px double red;
  border-top-left-radius: 40px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 40px;
}
.logoVisualCode {
  width: 30%;
  padding: 8px;
}
.logoGitHub {
  width: 33%;
  padding: 6px;
}
.logoGitHubDesk {
  width: 33%;
}

.contNota {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  position: fixed;
  bottom: 60px;
  right: 10px;
  pointer-events: none; /*PARA QUE EL CURSON IGNORE ESTE CAMPO Y PERMITA PRESIONAR A TRAVES DE ESTE */
}
.btnNota {
  margin-right: 0px;
  margin-bottom: 0px;
  pointer-events: auto; /* PARA QUE EL CURSOR DETECTE ESTE CAMPO Y PUEDA PRESIONAR EL EVENTO */
}
.nota {
  background-color: rgb(2, 26, 26);
  border: 5px outset aqua;
  border-radius: 10px;
  padding: 0px 20px 0px 0px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  pointer-events: auto; /* PARA QUE EL CURSOR LO DETECTE */
}
.animNota {
  animation-name: NotaAnim;
  animation-duration: 0.5s;
  animation-fill-mode: forwards; 
}
@keyframes NotaAnim {
  100% {
    opacity: 0%;
  }
}