/*--------------------- DOBLE INPUT CON CHAT(WSP) ------------------------*/
.Chat {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(21, 61, 61);
}

.ContenedorChats {
  height: 300px;
  background-color: rgb(40, 168, 168);
}

.RegistroChat {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(53, 136, 136);
}
.contenedorHistorial {
  width: 280px;
  min-height: 400px;
  background-color: aqua;
  overflow-y: scroll;
  border: 5px solid rgb(27, 77, 77);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

  /*--------------------- DOBLE INPUT CON CHAT(WSP) ------------------------*/