.cuerpo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cuerpoAlturaGrande {
  height: 875px;
}
.cuerpoAlturaChico {
  height: 560px;
}

.contContenedores {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(5, 43, 43);
}


.contenedorIzquierda {
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(34, 49, 49);
}
.divImagenIzq {
  text-align: center;
  height: 100%;
}

.contenedorCentro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(1, 16, 37);
}


.contVidasEnemigo {
  height: 37px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(92, 0, 0);
}
.contVidasPlayer {
  height: 37px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(46, 119, 107);
}
.tamañoVidas{
  height: 100%;
}


/* PIEDRA PAPEL TIJERA 1 */
.cont1 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(3, 97, 97);
}
.cont1AlturaGrande {
  height: 400px;
}
.cont1AlturaChico {
  height: 260px;
}
.neutro {
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(93, 117, 117);
}
.piedra1 {
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(13, 148, 148);
}
.papel1 {
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(43, 90, 90);
}
.tijera1 {
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(3, 46, 46);
}

/* PIEDRA PAPEL TIJERA 2 */
.cont2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

/* PIEDRA PAPEL TIJERA 3 */
.cont3 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(4, 66, 66);
}
.cont3AlturaGrande {
  height: 400px;
}
.cont3AlturaChico {
  height: 212px;
}
.piedra2 {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(1, 155, 155);
}
.papel2 {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(43, 90, 90);
}
.tijera2 {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(3, 46, 46);
}


.contenedorDerecha {
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(13, 43, 43);
}
.divImagenDer {
  text-align: center;
  height: 100%;
}

/* RND RND RND RND RND RND RND RND RND RND RND*/

.ocultar {
  display: none !important;
}

.tamañoIMG {
  height: 100%;
  width: 100%;
}

/* ALERTA ALERTA ALERTA ALERTA ALERTA ALERTA */

.alertaGanar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color:rgb(3, 46, 46);
}
.alertaGanarGrande {
  height: 800px;
}
.alertaGanarChico {
  height: 462px;
}
.tamañoImgAlertaGanaste {
  height: 300px;
  width: 300px;
}

.alertaPerder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color:rgb(3, 46, 46);
}
.alertaPerderGrande {
  height: 800px;
}
.alertaPerderChico {
  height: 462px;
}
.tamañoImgAlertaPerdiste {
  height: 300px;
  width: 300px;
}